body {
    background-color: rgb(27, 27, 27);
    color: white;
    font-family: "Montserrat", "sans-serif";
}

a {
    color: hsl(120, 40%, 64%);
}

a:hover{
    color: hsl(120, 21%, 31%); /*change color of link when hovering */
}

img {
    width: 20%;
    height: 20%;
}

.timer-pages {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.timer #timer-caption {
    display: inline-block;
    vertical-align: bottom;
}

video {
    width: 6in;
    height: 3.5in;
    margin-top: 0px;
}

audio {
    max-width: 20cm;
    max-height: 10cm;
}

form {
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 15px;
    padding-bottom: 5px;
    padding-right: 5px;
    border-radius: 20px;
    border-color: rgb(219, 219, 219);
    border-width: 5px;
    border-style: outset;
}

header {
    position: sticky;
    top: 0;
    background-color: rgb(7, 7, 7);
    padding: 20px 0px 20px 0px; /* make sure the header doesn't look like it gets cut off */
}

.color-schemes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#yellow {
    flex-basis: max-content;
    flex-shrink: 1;
}

.this-or-that {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    column-gap: 10px;
    row-gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.this-or-that img {
    width: 100%; /*make sure image is fully shown*/
    height: auto;
    border-radius: 10px;
  }